<ul>
    <li><%= link_to "View Available Orders", user_locations_path(:user_id) %></li>
        #
    <li><%= link_to "View Active Orders", user_orders_path(:user_id) %></li>
    #return all orders if and only if the carrier field in blank
</ul>