<ul>
    <li><%= link_to "Create a new Order", new_order_path %></li>
    <li><%= link_to "Create a new Location", new_location_path %></li>
    <li><%= link_to "View Locations", vendor_locations_path %></li>
    <li><%= link_to "View Orders", vendor_orders_path %></li>
</ul>
