/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    color: #fffff2;	
    text-decoration: none;
    box-sizing: border-box;
    margin: none;
    font-family: 'Josefin Sans', sans-serif;
}


input {
    float: right;
  }

body{
    background-image: url("https://i.imgur.com/NDcgs2o.jpg");
    background-size: cover;
    margin: 0;
    padding: none;
}

 .home-body {
    display: flex;
    width: 620px;
    margin: 20vh auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition-duration: 1s;
}

.home-body:hover {
    background: rgba(0, 0, 0, .9);
    transition-duration: 1s;
}

.user-in {
    min-width: 50%;
    position:relative;
    padding: 20px;
    margin-bottom: 5px;
}

label {
    clear: both;
    float: left;
    text-align: right;
}
select {
    color:black;
    float: right;
}

input {
    color: black;
    margin-bottom: 10px;
}

.header {
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    transition-duration: 2s;
}

.header:hover {
    background: rgba(0, 0, 0, .9);
    transition-duration: 2s;
}

h2 {
    color:white;
    text-shadow: 2px 2px #000
}

ul {
    list-style-type: none;
    float: left;
    padding: 0;
}

li {
    margin: none;
}
a {
    color: white;
}

a:hover {
    font-style:oblique;
    color:white;
    text-decoration: none;
}

input[type=submit] {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

input[type=submit]:hover {
    background:black;
    color:white;
    border: 1px solid white;
}

#clock {
    float: right;
    margin:none;
}